.page {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: $secondary;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(/background.png);
        background-size: 50%;
    }

    &__logo {
        margin-bottom: 16px;
        color: $primary;
    }

    &__main-title {
        font-size: 48px;
        margin-bottom: 32px;
    }

    &__main-links {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, minmax(min-content, auto));
        grid-gap: 32px;
    }

    &__main-link {
        display: block;
        padding: 16px;
        border: 2px solid $primary;
        border-radius: 10px;
        color: $primary;
        font-size: 32px;
        text-align: center;
        transition: $quick ease-in-out;
    }

    &__heading {
        font-size: 32px;
    }

    &__back-link {
        align-self: flex-start;
        display: block;
        margin-bottom: 24px;
        margin-left: 32px;
        padding: 8px;
        border: 2px solid $primary;
        border-radius: 10px;
        color: $primary;
        font-size: 16px;
        text-align: center;
        transition: $quick ease-in-out;
    }

    &__description {
        max-width: 720px;
        margin-bottom: 24px;
        padding: 0 32px;
        line-height: 24px;
    }

    &__detail-title {
        font-size: 28px;
        margin-bottom: 24px;
    }

    &__detail-list {
        min-width: 100%;
        padding: 0 32px;
        margin-bottom: 24px;
    }

    &__list-item {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 16px;
        align-items: center;
        margin-bottom: 8px;
        padding: 16px;
        border: 2px solid $primary;
        border-radius: 10px;
    }

    &__list-item:last-child {
        margin-bottom: 0;
    }

    &__list-title {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

    &__list-param {
        margin-bottom: 8px;
    }

    &__list-param:last-child {
        margin-bottom: 0;
    }

    &__list-param--desc {
        color: $primaryShade;
    }

    // focus & active states
    &__main-link:focus {
        border-color: $primaryShade;
        color: $primaryShade;
        background-color: $secondary;
        outline: none;
    }

    &__main-link:active {
        border-color: $primaryShade;
        color: $secondary;
        background-color: $primaryShade;
    }

    &__back-link:focus {
        border-color: $primaryShade;
        color: $primaryShade;
        background-color: $secondary;
        outline: none;
    }

    &__back-link:active {
        border-color: $primaryShade;
        color: $secondary;
        background-color: $primaryShade;
    }
}

// hover states
@media (hover: hover) {
    .page {
        &__main-link:hover {
            border-color: $primary;
            color: $secondary;
            background-color: $primary;
        }

        &__main-link:active {
            border-color: $primaryShade;
            color: $secondary;
            background-color: $primaryShade;
        }

        &__back-link:hover {
            border-color: $primary;
            color: $secondary;
            background-color: $primary;
        }

        &__back-link:active {
            border-color: $primaryShade;
            color: $secondary;
            background-color: $primaryShade;
        }
    }
}
