@import '_normalize.scss';
@import '_fonts.scss';
@import '_variables.scss';

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    color: $primary;
    background-color: $secondary;
    font-family: "Star Wars", Arial, Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}

@import '_page.scss';
@import '_preloader.scss';
